In [6]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import re
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [7]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\eykin\anaconda3\envs\neo_geo\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\eykin\anaconda3\envs\neo_geo\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\eykin\anaconda3\envs\neo_geo\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
teis_df = pd.read_excel(r'/Users/eykin/Desktop/Eddie Documentsls/projects/teis-concatahoula_leopards/data/bdi3_all_evals_for_nss_11_2023.xlsx')

In [10]:
teis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23947 entries, 0 to 23946
Columns: 219 entries, Child ID to Code 10
dtypes: datetime64[ns](14), float64(79), object(126)
memory usage: 40.0+ MB

In [11]:
teis_df.info

<bound method DataFrame.info of       Child ID Gender Date of Birth Location - Sub Level 1  \
0        44879      F    2022-09-27              Southwest
1        47795      F    2020-12-23      Greater Nashville
2        54340      M    2021-06-22        First Tennessee
3        54344      F    2022-03-07    Southeast Tennessee
4        54515      M    2021-11-04          Memphis Delta
...        ...    ...           ...                    ...
23942  SP03287      F    2023-09-25          Memphis Delta
23943  SP03288      F    2021-05-18          South Central
23944  SP03289      F    2021-10-31          South Central
23945  SP03290      M    2020-03-25          Memphis Delta
23946  SP03291      M    2023-09-18      Greater Nashville

                      Program Label  Adaptive Sum of Scaled Scores  \
0      BDI-3 Eligibility Evaluation                            7.0
1      BDI-3 Eligibility Evaluation                           16.0
2      BDI-3 Eligibility Evaluation                            8.0
3      BDI-3 Eligibility Evaluation                           13.0
4      BDI-3 Eligibility Evaluation                            5.0
...                             ...                            ...
23942  BDI-3 Eligibility Evaluation                           13.0
23943  BDI-3 Eligibility Evaluation                           25.0
23944  BDI-3 Eligibility Evaluation                           21.0
23945       BDI-3 Annual Evaluation                           16.0
23946  BDI-3 Eligibility Evaluation                           11.0

       Adaptive Developmental Quotient Adaptive Percentile Rank  \
0                                 85.0                       16
1                                 88.0                       21
2                                 90.0                       25
3                                115.0                       84
4                                 75.0                        5
...                                ...                      ...
23942                            115.0                       84
23943                            115.0                       84
23944                            103.0                       58
23945                             88.0                       21
23946                            105.0                       63

      Adaptive 95% Confidence Interval         Adaptive RDI  ... Code 1  \
0                                77-97                39/90  ...    NaN
1                                82-96                79/90  ...    NaN
2                               81-101                77/90  ...    NaN
3                              103-123                99/90  ...    NaN
4                                68-88  1990-09-01 00:00:00  ...    NaN
...                                ...                  ...  ...    ...
23942                          103-123                99/90  ...    NaN
23943                          107-121                96/90  ...    NaN
23944                           96-110                92/90  ...    NaN
23945                            82-96                66/90  ...    NaN
23946                           94-114                94/90  ...    NaN

       Code 2 Code 3  Code 4  Code 5 Code 6 Code 7 Code 8 Code 9  Code 10
0         NaN    NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
1         NaN    NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
2         NaN    NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
3         NaN    NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
4         NaN    NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
...       ...    ...     ...     ...    ...    ...    ...    ...      ...
23942     NaN    NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
23943     NaN    NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
23944     NaN    NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
23945     NaN    NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
23946     NaN    NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN

[23947 rows x 219 columns]>

In [12]:
#dropping duplicate rows
teis_df_no_dupes = teis_df.drop_duplicates()

In [13]:
teis_df_no_dupes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19500 entries, 0 to 23946
Columns: 219 entries, Child ID to Code 10
dtypes: datetime64[ns](14), float64(79), object(126)
memory usage: 32.7+ MB

#checking on a known duplicate
teis_df_no_dupes.loc['teis_df_no_dupes['Child ID']==404042 ]

In [14]:
teis_df_no_dupes.describe()

,Adaptive Sum of Scaled Scores,Adaptive Developmental Quotient,Adaptive T-Score,Social-Emotional Sum of Scaled Scores,Social-Emotional Developmental Quotient,Social-Emotional T-Score,Communication Sum of Scaled Scores,Communication Developmental Quotient,Communication T-Score,Motor Sum of Scaled Scores,...,Code 1,Code 2,Code 3,Code 4,Code 5,Code 6,Code 7,Code 8,Code 9,Code 10
count,19493.000000,19493.000000,19493.000000,19483.000000,19483.000000,19483.000000,19469.0000,19469.000000,19469.0000,19471.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,11.412712,87.435079,41.624583,22.381153,94.470051,46.314428,13.2015,79.604499,36.4030,22.655334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,5.822943,17.438731,11.612715,7.519204,16.695712,11.132555,6.7228,20.168400,13.4456,8.067995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,46.000000,14.000000,2.000000,46.000000,14.000000,2.0000,46.000000,14.0000,2.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,7.000000,76.000000,34.000000,17.000000,84.000000,39.000000,8.0000,64.000000,26.0000,17.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,11.000000,88.000000,42.000000,22.000000,96.000000,47.000000,13.0000,79.000000,36.0000,22.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,15.000000,100.000000,50.000000,28.000000,106.000000,54.000000,18.0000,94.000000,46.0000,28.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,36.000000,148.000000,82.000000,53.000000,154.000000,86.000000,38.0000,154.000000,86.0000,50.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
type(Adaptive Developmental Quotient[0])

SyntaxError: invalid syntax (3054672049.py, line 1)

In [21]:
ad_rdi_df = teis_df_no_dupes['Adaptive RDI']

In [22]:
re.findall(f'1990, +1.+', '1990-09-01 00:00:00')
re.sub('1990.+1.+', '9/90', '1990-09-01 00:00:00')

'9/90'

In [24]:
ad_rdi_df.head()

0                  39/90
1                  79/90
2                  77/90
3                  99/90
4    1990-09-01 00:00:00
Name: Adaptive RDI, dtype: object

In [26]:
def date_fix(date):
    return re.sub('1990.+1.+', '9/90', date)

date_fix('1990-09-01 00:00:00')

'9/90'

In [28]:
domain_df = teis_df[["Child ID', 'Gender', 'Adaptive Developmental Quotient', 'Social-Emotional Developmental Quotient', 'Communication Developmental Quotient', 'Motor Developmental Quotient', 'Cognitive Developmental Quotient', 'BDI-3 Total Developmental Quotient']]
domain_df

SyntaxError: EOL while scanning string literal (1941935044.py, line 1)

In [ ]:
u_gender=domain_df.loc[domain_df['Gender']--'U']
u_gender

In [ ]:
adaptive_avg=domain_df.groupby('Gender')['Adaptive Deveolopmental Quotient'].agg(np.mean)
adaptive_avg